.skill-bar-container {
  margin-bottom: 10px;
}

.skill-bar-name {
  margin-bottom: 5px;
  font-weight: bold;
}

.skill-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.skill-bar-fill {
  height: 100%;
  border-radius: 5px;
  background-color: #6297c5;
  transition: width 0.5s ease;
}

.bar-text {
  line-height: 20px;
  text-align: right;
  color: #fff;
  padding-right: 5px;
}

/* For screens 768px and larger (e.g., tablets and desktops) */
@media (min-width: 768px) {
  .skill-bar-container {
    display: flex;
    justify-content: space-between;
  }

  /* Divide the skill bars into two columns */
  .skill-bar {
    width: calc(50% - 10px); /* Account for the margin between the columns */
  }
}

/* For screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 767px) {
  .skill-bar-container {
    display: block;
  }

  .skill-bar {
    width: 100%;
  }
}